#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.exe
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
[Bb]in
*.sbr
obj/
_ReSharper*/
[Tt]est[Rr]esult*
*.ipch
*.opensdf
*.sdf
*.scc
*.log
Engine/Bin/*
Engine/Tools/*
Engine/Build/*
Engine/Data/*
Engine/Library/*
Engine/Documents/html/*
Engine/Source/BlueshiftEditor
Engine/Source/Player/Data
Engine/Source/Player/Config
Engine/Project/Android/AndroidPlayer/assets
Engine/Project/NativeAndroid/AndroidPlayer.Packaging/assets/Config
Engine/Project/NativeAndroid/AndroidPlayer.Packaging/assets/Data
Engine/Project/Android/Build
Screenshots/
.DS_Store
\#*
Engine/Project/XamarinAndroid/XamarinPlayer/Assets/Config
Engine/Project/XamarinAndroid/XamarinPlayer/Assets/Data
Engine/Project/XamarinIOS/XamarinPlayer/libs
Engine/Project/XamarinIOS/XamarinPlayer/Resources/Config
Engine/Project/XamarinIOS/XamarinPlayer/Resources/Data
Engine/Project/XamarinIOS/*.userprefs
Engine/Project/XamarinOSX/XamarinControl/libs
Debug
Release
log.txt
*.userprefs
*.designer.cs
*.VC.db
*.VC.VC.opendb
Engine/LuaXML/*
Engine/XML/*
.oracle_jre_usage
.vs
.workspace
.gradle
Engine/Project/JavaAndroid/AndroidPlayer/app/build/
