#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.exe
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.sbr
obj/
_ReSharper*/
[Tt]est[Rr]esult*
*.ipch
*.opensdf
*.sdf
*.scc
*.log
Screenshots/
.DS_Store
\#*
.vscode/
Debug
Release
log.txt
*.userprefs
*.designer.cs
*.VC.db
*.VC.VC.opendb
.oracle_jre_usage
.vs
.workspace
*.iml
.gradle
