#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.sbr
obj/
_ReSharper*/
[Tt]est[Rr]esult*
*.ipch
*.opensdf
*.sdf
*.scc
*.log
.DS_Store
\#*
.vscode/
Debug
Release
log.txt
*.userprefs
*.designer.cs
*.VC.db
*.VC.VC.opendb
.oracle_jre_usage
.vs
.workspace
*.iml
.gradle
Bin/*
Bin/Win64/*
!Bin/Win64
!Bin/Win64/Debug
!Bin/Win64/Debug/msvcp120d.dll
!Bin/Win64/Debug/msvcr120d.dll
!Bin/Win64/Debug/vccorlib120d.dll
!Bin/Win64/Debug/icudt5?.dll
!Bin/Win64/Debug/icuin5?.dll
!Bin/Win64/Debug/icuuc5?.dll
!Bin/Win64/Debug/libEGL.dll
!Bin/Win64/Debug/libGLESv2.dll
!Bin/Win64/Debug/libfbxsdk.*
!Bin/Win64/Debug/Qt5*.dll
!Bin/Win64/Debug/Qt5*.pdb
!Bin/Win64/Debug/platforms/*
!Bin/Win64/Release
!Bin/Win64/Release/msvcp120.dll
!Bin/Win64/Release/msvcr120.dll
!Bin/Win64/Release/vccorlib120.dll
!Bin/Win64/Release/icudt5?.dll
!Bin/Win64/Release/icuin5?.dll
!Bin/Win64/Release/icuuc5?.dll
!Bin/Win64/Release/libEGL.dll
!Bin/Win64/Release/libGLESv2.dll
!Bin/Win64/Release/libfbxsdk.dll
!Bin/Win64/Release/Qt5*.dll
!Bin/Win64/Release/platforms/*
Tools/*
Build/*
!Build/*.bat
!Build/*.command
!Build/*.sh
Build/Android/*
Build/Android/Blueshift/*
Build/Android/Blueshift/app/*
Build/Android/TestRenderer/*
Build/Android/TestRenderer/app/*
!Build/Android
!Build/Android/Blueshift
!Build/Android/Blueshift/build.gradle
!Build/Android/Blueshift/settings.gradle
!Build/Android/Blueshift/gradle.properties
!Build/Android/Blueshift/gradlew*
!Build/Android/Blueshift/gradle
!Build/Android/Blueshift/gradle/wrapper/*
!Build/Android/Blueshift/app
!Build/Android/Blueshift/app/build.gradle
!Build/Android/Blueshift/app/build.gradle.signing
!Build/Android/TestRenderer
!Build/Android/TestRenderer/build.gradle
!Build/Android/TestRenderer/settings.gradle
!Build/Android/TestRenderer/gradle.properties
!Build/Android/TestRenderer/gradlew*
!Build/Android/TestRenderer/gradle
!Build/Android/TestRenderer/gradle/wrapper/*
!Build/Android/TestRenderer/app
!Build/Android/TestRenderer/app/build.gradle
Library/*
Documents/html/*
Source/BlueshiftEditor
Source/Player/Data
Source/Player/Config
Source/ThirdParty/luaJIT/lib/
Source/ThirdParty/luaJIT/src/*.lib
Source/ThirdParty/luaJIT/src/*.exp
Source/ThirdParty/luaJIT/src/lj_bcdef.h
Source/ThirdParty/luaJIT/src/lj_ffdef.h
Source/ThirdParty/luaJIT/src/lj_libdef.h
Source/ThirdParty/luaJIT/src/lj_recdef.h
Source/ThirdParty/luaJIT/src/lj_folddef.h
Source/ThirdParty/luaJIT/src/jit/vmdef.lua
Source/ThirdParty/luaJIT/src/host/buildvm_arch.h
Project/XamarinAndroid/XamarinPlayer/Assets/Config
Project/XamarinAndroid/XamarinPlayer/Assets/Data
Project/XamarinIOS/XamarinPlayer/libs
Project/XamarinIOS/XamarinPlayer/Resources/Config
Project/XamarinIOS/XamarinPlayer/Resources/Data
Project/XamarinIOS/*.userprefs
Project/XamarinOSX/XamarinControl/libs
Project/Android/AndroidPlayer/assets
Project/Android/Build
Project/NativeAndroid/AndroidPlayer.Packaging/assets/Config
Project/NativeAndroid/AndroidPlayer.Packaging/assets/Data
Project/JavaAndroid/AndroidPlayer/app/build/
Project/JavaAndroid/AndroidPlayer/app/src/main/jniLibs/
Project/JavaAndroid/AndroidPlayer/build/

