Bin/*
Tools/*
Build/*
Build/Android/*
Build/Android/BlueshiftEngine/*
Build/Android/BlueshiftEngine/BlueshiftPlayer/*
Build/Android/BlueshiftEngine/TestRenderer/*
!Build/Android
!Build/Android/BlueshiftEngine
!Build/Android/BlueshiftEngine/build.gradle
!Build/Android/BlueshiftEngine/settings.gradle
!Build/Android/BlueshiftEngine/gradlew*
!Build/Android/BlueshiftEngine/BlueshiftPlayer
!Build/Android/BlueshiftEngine/BlueshiftPlayer/build.gradle
!Build/Android/BlueshiftEngine/TestRenderer
!Build/Android/BlueshiftEngine/TestRenderer/build.gradle
Data/*
Library/*
Documents/html/*
Source/BlueshiftEditor
Source/Player/Data
Source/Player/Config
Source/Dependencies/luaJIT/lib/
Source/Dependencies/luaJIT/src/*.lib
Project/XamarinAndroid/XamarinPlayer/Assets/Config
Project/XamarinAndroid/XamarinPlayer/Assets/Data
Project/XamarinIOS/XamarinPlayer/libs
Project/XamarinIOS/XamarinPlayer/Resources/Config
Project/XamarinIOS/XamarinPlayer/Resources/Data
Project/XamarinIOS/*.userprefs
Project/XamarinOSX/XamarinControl/libs
Project/Android/AndroidPlayer/assets
Project/Android/Build
Project/NativeAndroid/AndroidPlayer.Packaging/assets/Config
Project/NativeAndroid/AndroidPlayer.Packaging/assets/Data
Project/JavaAndroid/AndroidPlayer/app/build/
Project/JavaAndroid/AndroidPlayer/app/src/main/jniLibs/
Project/JavaAndroid/AndroidPlayer/build/
