<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.polygontek.devtech.AndroidPlayer" android:installLocation="auto">
	<application android:label="XamarinPlayer"></application>
	<uses-feature android:glEsVersion="0x00030000" />
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="21" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
</manifest>